<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.bi.mapper.ApiMapper">

    <select id="getDataSourceList" resultType="com.bi.entity.DataSourceList">
        select data_source_type, data_source_name
        from data_set
    </select>

    <select id="getDBList" parameterType="string" resultType="com.bi.entity.DataSourceList">
        select db_name
        from data_set
        where data_source_type = #{data_source_type}
    </select>
</mapper>
